body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e8ecf8;
}
.wrapper {
    position: relative;
    width: 250px;
    height: 250px;
}
.frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    border: 8px solid #ff9900;
    transform: rotate(45deg);
    z-index: 1;
}
.photo {
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 2;
}
